# Reading in Data

In [58]:
import os
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy_utils import database_exists, create_database
import psycopg2

In [59]:
directory = '../'
files = os.listdir(directory)
file_list = [x for x in files if "csv" in x]
file_list

['mens_scores_2024.csv',
 'mens_scores_2021.csv',
 'mens_scores_2020.csv',
 'mens_scores_2022.csv',
 'mens_scores_2023.csv']

In [101]:
scores_2024 = pd.read_csv("../" + file_list[0])
scores_2024

,Athlete,Event,WP Open,Navy Open,Navy,Springfield,Cal,Illinois,Greenville,Army,Navy.1,USAG,ECAC,NCAA,S. High,C. High
0,NaN,NaN,Jan. 12-13,Jan. 20,Jan. 27,Feb. 11,Feb. 18,Mar. 1,Mar. 2,Mar. 9,Mar. 16,Mar. 22-23,Apr. 6,Apr. 19-20,NaN,NaN
1,"Baytop, M.",FE,NaN,12.45,12.5,12.9,12.35,13.15,12.7,13.3,12.65,12.9,13.4,NaN,13.40,13.40
2,"Baytop, M.",PH,NaN,NaN,NaN,12.55,12.25,11.2,11.1,11.6,11.95,NaN,NaN,NaN,12.55,12.95
3,"Baytop, M.",HB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.35
4,"Cuy, A.",FE,12,NaN,NaN,NaN,12.65,12.75,13.4,NaN,13.25,13,13.25,NaN,13.40,13.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,Team,R,57.3,56.7,63.1,63.9,61.65,63.55,62.8,63,64.85,62.35,61.85,NaN,64.85,70.90
120,Team,V,68.7,70.4,69,70.25,69.1,70,69.95,69,69.85,69.55,70.8,NaN,70.80,70.90
121,Team,PB,60.05,64.55,61.4,64.1,63.45,58.95,65.1,64.3,66.2,61.3,64.5,NaN,66.20,69.00
122,Team,HB,57.3,57.8,57.5,63.55,61,59.95,61.3,63.55,59.95,63.45,62.65,NaN,63.55,69.40
123,Team,Total,359.35,366.1,370.9,385.05,376.9,374.95,376.75,387.25,388.1,381.35,387.8,NaN,388.10,412.70

### Create a Function

In [18]:
def get_members(data):
    res = pd.Series()
    for filename in data:
        df = pd.read_csv("../" + filename)
        members = df[df["Athlete"] != "Team"]["Athlete"]
        res = pd.concat([res, members])
    res = res.dropna().unique()
    return res

In [19]:
members = get_members(file_list)
print(members)

['Baytop, M.' 'Cuy, A.' 'Fu, M.' 'Grapsas, A.' 'Greenly, N.'
 'Harrington, W.' 'Irwin, J.' 'Kasiski, G.' 'Kuzmenchuk, A.' 'Lee, S.'
 'TABLE 3' 'Noyman, J.' 'Patrick, Z.' 'Peazant, T.' 'Pizem, R.'
 'Sikra, E.' 'Smith, S.' 'Wilkins, E.' 'Zborowski, G.' 'Bowman, C.'
 'Creelman, I.' 'Fugett' 'Gulotta, C.' 'Kula, J.' 'Lillie, C.'
 'Lyubovsky, A.' 'Marsh, C.' 'Petras, Z.' 'Portofee, K.' 'Postell, A.'
 'Ross, R.' 'Schrandt, S.' "O'Neill, T." 'Palma, T.' 'Winneg, N.'
 'Gulotta' 'Piper, S.']

# Extracting all unique Events

In [20]:
events = scores_2024[scores_2024["Athlete"] != "Team"]["Event"]
events = events.dropna().unique()
events

array(['FE', 'PH', 'HB', 'R', 'VT', 'PB', 'AA', 'Event', 'V', 'Total'],
      dtype=object)

# Extracting Competitions and Dates

### Creating helper functions

In [21]:
import datetime

date_helper = {
    "Jan." : 1,
    "Feb." : 2,
    "Mar." : 3,
    "Apr." : 4
}

def get_dates_for_csv(data, year):
    for i in range(len(data)):
      temp = data.iloc[i].split(" ")
      month = date_helper[temp[0]]
      dt = datetime.datetime(year, month, int(temp[1]))
      dt_string = dt.strftime('%Y-%m-%d')

      data.iloc[i] = dt_string

    return data

def get_dates(data):
    res = pd.Series()
    for filename in data:
        temp_list = filename.split("_")[-1]
        year = int(temp_list.split(".")[0])
        df = pd.read_csv("../" + filename)
        dates = df.iloc[0][2:-2].apply(lambda x: x.split("-")[0])
        dates = get_dates_for_csv(dates, year)
        res = pd.concat([res, dates])
        
    return res

### Testing

In [22]:
dates2024 = scores_2024.iloc[0][2:-2].apply(lambda x: x.split("-")[0])
dates2024 = get_dates_for_csv(dates2024, 2024)
dates2024

WP Open        2024-01-12
Navy Open      2024-01-20
Navy           2024-01-27
Springfield    2024-02-11
Cal            2024-02-18
Illinois       2024-03-01
Greenville     2024-03-02
Army           2024-03-09
Navy.1         2024-03-16
USAG           2024-03-22
ECAC           2024-04-06
NCAA           2024-04-19
Name: 0, dtype: object

In [23]:
dates = get_dates(file_list)
dates

WP Open        2024-01-12
Navy Open      2024-01-20
Navy           2024-01-27
Springfield    2024-02-11
Cal            2024-02-18
Illinois       2024-03-01
Greenville     2024-03-02
Army           2024-03-09
Navy.1         2024-03-16
USAG           2024-03-22
ECAC           2024-04-06
NCAA           2024-04-19
Stanford       2021-02-10
Navy           2021-02-21
Cal            2021-02-24
Spring.        2021-02-28
Oklahoma       2021-03-06
Air Force      2021-03-27
ECAC           2021-04-03
NCAA           2021-04-16
WP Open        2020-01-10
Navy Open      2020-01-18
Navy           2020-01-25
Penn. St.      2020-02-15
Spring.        2020-02-23
Army           2020-03-07
Spring..1      2020-03-08
Penn St.       2020-03-14
USAG           2020-03-27
ECAC           2020-04-04
NCAA           2020-04-17
WP Open        2022-01-14
Navy Open      2022-01-22
Navy-2         2022-01-29
Ohio St.       2022-02-19
Spring.        2022-02-25
Army           2022-03-05
Spring..1      2022-03-06
Navy-3         2022-03-12
USAG           2022-03-25
ECAC           2022-04-02
NCAA           2022-04-15
Simpson        2023-01-15
Navy Open      2023-01-21
Navy-2         2023-01-28
Springfield    2023-02-05
Okla.          2023-02-11
Penn. St.      2023-03-03
Navy-3         2023-03-05
Cal            2023-03-11
Penn St.       2023-03-19
USAG           2023-03-24
ECAC           2023-04-01
NCAA           2023-04-14
dtype: object

# Connect to SQL Database

In [96]:
db_url = 'postgresql+psycopg2://ahmirpostell:123Ad0gs@localhost:4444/TribeGym'

engine = create_engine(db_url)
if not database_exists(engine.url):
    create_database(engine.url)

print(database_exists(engine.url))

True

In [97]:
conn = engine.connect()

# Add Base Tables

In [89]:
pd.read_sql("SELECT table_name FROM information_schema.tables WHERE table_schema='public';", conn)

    table_name
0       member
1    apparatus
2  competition

In [30]:
conn.execute(text("""
DROP TABLE IF EXISTS member;
CREATE TABLE member (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100)
);
DROP TABLE IF EXISTS apparatus;
CREATE TABLE apparatus (
    id SERIAL PRIMARY KEY,
    event VARCHAR(100)
);
DROP TABLE IF EXISTS competition;
CREATE TABLE competition (
    id SERIAL PRIMARY KEY,
    comp_name VARCHAR(100),
    comp_date TIMESTAMP
);
"""))

In [31]:
pd.read_sql("SELECT table_name FROM information_schema.tables WHERE table_schema='public';", conn)

    table_name
0       member
1    apparatus
2  competition

# Fill Tables with base data

In [32]:
for i in members:
    temp = i
    if "'" in i:
        temp = i.replace("'", r"''")
    query = (f"INSERT INTO member (name) VALUES ('{temp}')")
    conn.execute(text(query))

In [162]:
pd.read_sql("SELECT table_name FROM information_schema.tables WHERE table_schema='public';", conn)

    table_name
0       member
1    apparatus
2  competition

In [34]:
pd.read_sql("SELECT * FROM member", conn)

    id            name
0    1      Baytop, M.
1    2         Cuy, A.
2    3          Fu, M.
3    4     Grapsas, A.
4    5     Greenly, N.
5    6  Harrington, W.
6    7       Irwin, J.
7    8     Kasiski, G.
8    9  Kuzmenchuk, A.
9   10         Lee, S.
10  11      Noyman, J.
11  12     Patrick, Z.
12  13     Peazant, T.
13  14       Pizem, R.
14  15       Sikra, E.
15  16       Smith, S.
16  17     Wilkins, E.
17  18   Zborowski, G.
18  19      Bowman, C.
19  20    Creelman, I.
20  21          Fugett
21  22     Gulotta, C.
22  23        Kula, J.
23  24      Lillie, C.
24  25   Lyubovsky, A.
25  26       Marsh, C.
26  27      Petras, Z.
27  28    Portofee, K.
28  29     Postell, A.
29  30        Ross, R.
30  31    Schrandt, S.
31  32     O'Neill, T.
32  33       Palma, T.
33  34      Winneg, N.
34  35         Gulotta
35  36       Piper, S.

# Looping through score data

In [35]:
for i in events:
    query = (f"INSERT INTO apparatus (event) VALUES ('{i}')")
    print(query)
    conn.execute(text(query))

INSERT INTO apparatus (event) VALUES ('FE')
INSERT INTO apparatus (event) VALUES ('PH')
INSERT INTO apparatus (event) VALUES ('HB')
INSERT INTO apparatus (event) VALUES ('R')
INSERT INTO apparatus (event) VALUES ('VT')
INSERT INTO apparatus (event) VALUES ('PB')
INSERT INTO apparatus (event) VALUES ('AA')

In [36]:
pd.read_sql("SELECT * FROM apparatus", conn)

   id event
0   1    FE
1   2    PH
2   3    HB
3   4     R
4   5    VT
5   6    PB
6   7    AA

In [46]:
for i, v in dates.items():
    query = f"INSERT INTO competition (comp_name, comp_date) VALUES ('{i}', '{v}')"
    conn.execute(text(query))

In [172]:
pd.read_sql("SELECT * FROM competition", conn)

    id    comp_name  comp_date
0    1      WP Open 2024-01-12
1    2    Navy Open 2024-01-20
2    3       Navy-2 2024-01-27
3    4  Springfield 2024-02-11
4    5          Cal 2024-02-18
5    6     Illinois 2024-03-01
6    7   Greenville 2024-03-02
7    8         Army 2024-03-09
8    9       Navy-3 2024-03-16
9   10         USAG 2024-03-22
10  11         ECAC 2024-04-06
11  12         NCAA 2024-04-19
12  13     Stanford 2021-02-10
13  14         Navy 2021-02-21
14  15          Cal 2021-02-24
15  16      Spring. 2021-02-28
16  17     Oklahoma 2021-03-06
17  18    Air Force 2021-03-27
18  19         ECAC 2021-04-03
19  20         NCAA 2021-04-16
20  21      WP Open 2020-01-10
21  22    Navy Open 2020-01-18
22  23         Navy 2020-01-25
23  24    Penn. St. 2020-02-15
24  25      Spring. 2020-02-23
25  26         Army 2020-03-07
26  27    Spring..1 2020-03-08
27  28     Penn St. 2020-03-14
28  29         USAG 2020-03-27
29  30         ECAC 2020-04-04
30  31         NCAA 2020-04-17
31  32      WP Open 2022-01-14
32  33    Navy Open 2022-01-22
33  34       Navy-2 2022-01-29
34  35     Ohio St. 2022-02-19
35  36      Spring. 2022-02-25
36  37         Army 2022-03-05
37  38    Spring..1 2022-03-06
38  39       Navy-3 2022-03-12
39  40         USAG 2022-03-25
40  41         ECAC 2022-04-02
41  42         NCAA 2022-04-15
42  43      Simpson 2023-01-15
43  44    Navy Open 2023-01-21
44  45       Navy-2 2023-01-28
45  46  Springfield 2023-02-05
46  47        Okla. 2023-02-11
47  48    Penn. St. 2023-03-03
48  49       Navy-3 2023-03-05
49  50          Cal 2023-03-11
50  51     Penn St. 2023-03-19
51  52         USAG 2023-03-24
52  53         ECAC 2023-04-01
53  54         NCAA 2023-04-14

In [79]:
conn.execute(text("SELECT id FROM competition WHERE comp_name = 'NCAA' AND comp_date = '2023-04-14'")).fetchall()[0][0]

54

In [182]:
conn.execute(text("""
CREATE TABLE event AS
SELECT
    event
FROM apparatus;

DROP TABLE apparatus;

ALTER TABLE event RENAME TO apparatus;
"""))

In [183]:
conn.execute(text("""
ALTER TABLE member ADD CONSTRAINT member_name_unique UNIQUE (name);

ALTER TABLE apparatus ADD CONSTRAINT event_unique UNIQUE (event);

ALTER TABLE competition ADD CONSTRAINT comp_name_unique UNIQUE (comp_name, comp_date);
"""))

In [185]:
conn.commit()

In [214]:
conn.execute(text("""
CREATE TABLE score (
    athlete_id INTEGER REFERENCES member(id),
    event VARCHAR(100) REFERENCES apparatus(event),
    score FLOAT,
    competition_id INTEGER REFERENCES competition(id)
);
"""))

In [ ]:
for filename in file_list:
    temp_list = filename.split("_")[-1]
    year = int(temp_list.split(".")[0])
    
    df = pd.read_csv("../" + filename)
    df = df[df["Athlete"] != "Team"]
    for index, row in df.iloc[1:, :-2].iterrows():
        athlete = row["Athlete"]
        athlete = athlete.replace("'", r"''")
        athlete_id = conn.execute(text(f"SELECT id FROM member WHERE name = '{athlete}'")).fetchall()[0][0]

        event = row["Event"]
        exclude = ["Athlete", "Event", "S. High", "C. High"]
        for column_name, value in row.items():
            if column_name not in exclude and not pd.isna(value):
                comp_name = column_name
                
                date = df.iloc[0, row.index.get_loc(column_name)].split("-")[0]
                date_parts = date.split(" ")
                month = date_helper[date_parts[0]]
                dt = datetime.datetime(year, month, int(date_parts[1]))
                dt_string = dt.strftime('%Y-%m-%d')

                competition_id = conn.execute(text(f"SELECT id FROM competition WHERE comp_name = '{comp_name}' AND comp_date = '{dt_string}'")).fetchall()[0][0]
                
                score = float(value.split("/")[0])
                
                query = f"INSERT INTO score (athlete_id, event, score, competition_id) VALUES ('{athlete_id}', '{event}', '{score}', '{competition_id}')"
                conn.execute(text(query))

In [124]:
pd.read_sql("""
SELECT * FROM score
LEFT JOIN competition ON competition.id = score.competition_id
WHERE EXTRACT(YEAR FROM comp_date) = 2024 AND comp_name = 'ECAC'
""", conn)

    athlete_id event  score  competition_id  id comp_name  comp_date
0            1    FE  13.40              11  11      ECAC 2024-04-06
1            2    FE  13.25              11  11      ECAC 2024-04-06
2            2    PH  11.65              11  11      ECAC 2024-04-06
3            2     R  11.80              11  11      ECAC 2024-04-06
4            2    VT  14.15              11  11      ECAC 2024-04-06
5            2    PB  12.65              11  11      ECAC 2024-04-06
6            2    HB  11.50              11  11      ECAC 2024-04-06
7            2    AA  75.00              11  11      ECAC 2024-04-06
8            5     R  13.30              11  11      ECAC 2024-04-06
9            6    FE  13.10              11  11      ECAC 2024-04-06
10           8    FE  13.50              11  11      ECAC 2024-04-06
11           8     R  12.55              11  11      ECAC 2024-04-06
12           8    VT  14.45              11  11      ECAC 2024-04-06
13           9     R  12.55              11  11      ECAC 2024-04-06
14           9    PB  12.25              11  11      ECAC 2024-04-06
15           9    HB  12.85              11  11      ECAC 2024-04-06
16          10    VT  14.35              11  11      ECAC 2024-04-06
17          10    PB  13.80              11  11      ECAC 2024-04-06
18          11    PH  12.05              11  11      ECAC 2024-04-06
19          11    PB  12.70              11  11      ECAC 2024-04-06
20          12    PB  13.10              11  11      ECAC 2024-04-06
21          13    VT  13.85              11  11      ECAC 2024-04-06
22          14    PH  12.25              11  11      ECAC 2024-04-06
23          14    VT  14.00              11  11      ECAC 2024-04-06
24          14    HB  13.30              11  11      ECAC 2024-04-06
25          15    HB  12.50              11  11      ECAC 2024-04-06
26          16    PH  13.50              11  11      ECAC 2024-04-06
27          17    FE  12.95              11  11      ECAC 2024-04-06
28          17     R  13.00              11  11      ECAC 2024-04-06
29          18    FE  13.15              11  11      ECAC 2024-04-06
30          18    PH  12.35              11  11      ECAC 2024-04-06
31          18     R  10.45              11  11      ECAC 2024-04-06
32          18    VT  13.40              11  11      ECAC 2024-04-06
33          18    PB  12.65              11  11      ECAC 2024-04-06
34          18    HB  12.50              11  11      ECAC 2024-04-06
35          18    AA  74.50              11  11      ECAC 2024-04-06

In [123]:
query_counter = 0
for filename in [file_list[0]]:
    temp_list = filename.split("_")[-1]
    year = int(temp_list.split(".")[0])
    
    df = pd.read_csv("../" + filename)
    df = df[df["Athlete"] != "Team"]
    for index, row in df.iloc[1:, :-2].iterrows():
        athlete = row["Athlete"]
        athlete = athlete.replace("'", r"''")
        athlete_id = conn.execute(text(f"SELECT id FROM member WHERE name = '{athlete}'")).fetchall()[0][0]

        event = row["Event"]
        #exclude = ["Athlete", "Event", "S. High", "C. High"]
        exclude = [x for x in df.columns if x != "ECAC"]
        
        for column_name, value in row.items():
            if column_name not in exclude and not pd.isna(value):
                comp_name = column_name
                date = df.iloc[0, row.index.get_loc(column_name)].split("-")[0]
                date_parts = date.split(" ")
                month = date_helper[date_parts[0]]
                dt = datetime.datetime(year, month, int(date_parts[1]))
                dt_string = dt.strftime('%Y-%m-%d')

                competition_id = conn.execute(text(f"SELECT id FROM competition WHERE comp_name = '{comp_name}' AND comp_date = '{dt_string}'")).fetchall()[0][0]
                
                score = float(value.split("/")[0])
                
                query = f"INSERT INTO score (athlete_id, event, score, competition_id) VALUES ('{athlete_id}', '{event}', '{score}', '{competition_id}')"
                
                conn.execute(text(query))
                query_counter += 1

print(query_counter)

36

In [125]:
conn.commit()

In [121]:
conn.rollback()

In [126]:
conn.close()